@charset "utf-8";
html, body, h1,h2,h3,h4,h5,h6,p,address,blockquote,div,ul,li {
	margin: 0px;
	padding: 0px;
}
body {
    background-color: #c4c4c4;
	color: #000000;
    font-family: "Verdana", "Geneva", sans-serif;
    font-size: 100%;
    line-height: 1.5em;
}

p {
    font-size: 1em;
	margin: auto;
	padding-top: 20px;
	max-width: 500px;
}

h1 {
    color: #fcfcfc;
    font-size: 2em;
    font-family: "Verdana", "Geneva", sans-serif;
	font-weight: bold;
	line-height: 2em;
}
h5 {
  text-align: center;
  font-weight: bold;
}
aside {
    background-color: #000000;
	float: left;
	width: 25%;
	padding-top: 33px;
    position: fixed;
    height: 100%;
    overflow: auto;
	max-width: 300px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-left: 12.5%;
}

section {
	margin-left: 25%;
	padding-top: 30px;
}

.center {
	text-align: left;
}

section img {
  display: block;
  margin: 0 auto;
}
h2 {
    font-size: 2em;  
}

nav {
	font-size: 1.5em;  
}
ul {
    list-style-type: none;
	width: 200px;
	margin: auto;
}
li {
  text-align: center;
}
li:first-child {
	padding-top: 20px;
}
li a {
	 text-decoration: none;
	color: #fcfcfc;
	display: block;
	padding: 8px 16px;
}
li a.active {
  color: #c4c4c4;
  text-decoration: underline;
}
li a:hover:not(.active) {
  color: #c4c4c4;
}
footer {
	position: fixed;
	bottom: 0px;
	width: 25%;
	text-align: center;
	paddign-bottom: 10px;
	padding-top: 10px;
	color: #fcfcfc;
  	font-size: 10px;
	background-color: #000000;
	max-width: 300px;
}
.contact {
    font-size: 1.5em;
	margin: auto;
	max-width: 600px;
}

@media only screen and (max-width: 500px) {
  aside {
    width: 50%;
	z-index: 1;
  }
  footer {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
	text-align: center;
  }
   section {
    margin-left: 50%;
  }
}